body {
  font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url('./Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  header {
    display: flexbox;
    position: relative;
  }

.start-for-free {
    color: #505050;
    text-align: left;
    position: relative;
    margin: 40px 0px 10px 60px;
    font-size: 20px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.join-the-tribe {
  height: 33px;
  width: auto;
  margin: 10px 0px 10px 50px; 
}

.already-a-memeber {
  color: #505050;
  text-align: left;
  position: relative;
  margin: 15px 0px 10px 60px;
  font-size: 20px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 43px;
}

.name-sex {
  display: flex;
  height: 72px;
}

.name-container {
  width: 220px;
}

.name-text {
  color: #505050;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.name-box {
  height: 40px;
  width: 200px;
  border-radius: 12px;
  color: white;
  background-color: transparent;
  border: 2px solid #505050;
  cursor: pointer;
}

.name-box:active {
  border: 2;
}

.person-logo {
  position: absolute;
  margin-left: 173px;
  margin-top: 7px;
  width: auto;
  height: 30px;
}

.sex-box {
  display: flex;
  gap: 3px;
}

.sex-text {
  color: #505050;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.male-rec label {
  cursor: pointer;
}

.male-rec input[type="radio"] {
  display: none;
}

.male-icon {
  border: 0px solid #1F1D1D;
  background-color: #1F1D1D;
  border-radius: 12px 0px 0px 12px;
  margin-top: 5px;
  padding: 8px;
  height: 30px;
  width: 33px;
  padding-inline: 20px;
}

.female-rec input[type="radio"] {
  display: none;
}

.female-rec label {
  cursor: pointer;
  display: inline;
}

.female-rec label img {
  background-color: #1F1D1D;
  margin-left: px;
  margin-top: 5px;
  padding: 8px;
  padding-inline: 20px;
  height: 30px;
  width: 20px;
}

.other-rec input[type="radio"] {
  display: none;
}

.other-rec {
  border-radius: 0px 12px 12px 0px;
  color: #FF006B;
  border: 0px solid #1F1D1D;
  background-color: #1F1D1D;
  margin-left: px;
  margin-top: 5px;
  padding: 8px;
  padding-inline: 20px;
  height: 30px;
  width: 30px;
}

.other-text p {
  color: #FF006B;
  margin: 7px 0px 0px 0px;
  font-size: 16px;
  cursor: pointer;
}

.email-birth-container {
  display: flex;
  margin-top: 25px;
}

.email-container {
  justify-content: left;
  width: 220px;
}

.email-text {
  color: #505050;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.email-box {
  height: 40px;
  width: 200px;
  border-radius: 12px;
  color: white;
  background-color: transparent;
  border: 2px solid #505050;
  cursor: pointer;
}

.at-icon {
  position: absolute;
  margin-left: 173px;
  margin-top: 7px;
  width: auto;
  height: 30px;
}

.birthday-text {
  color: #505050;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.birthday-box {
  height: 42px;
  width: 200px;
  border-radius: 12px;
  color: white;
  background-color: transparent;
  border: 2px solid #505050;
  font-size: 15px;
  text-align: center;
  color: #505050;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;

}

.birthday-icon {
  position: absolute;
  margin-left: 170px;
  margin-top: 5px;
  width: auto;
  height: 30px;
}

.username-password-container {
  display: flex;
  margin-top: 25PX;
}

.username-text {
  color: #505050;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.username-box {
  height: 42px;
  width: 200px;
  border-radius: 12px;
  color: white;
  background-color: transparent;
  border: 2px solid #505050;
  cursor: pointer;
}

.username-icon {
  position: absolute;
  margin-left: 170px;
  margin-top: 9px;
  width: auto;
  height: 30px;
}

.password-text {
  color: #505050;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 13px;
}

.password-box {
  height: 42px;
  width: 200px;
  border-radius: 12px;
  color: white;
  background-color: transparent;
  border: 2px solid #505050;
  margin-left: 13PX;
  cursor: pointer;
}

.lock-icon {
  position: absolute;
  margin-left: 185px;
  margin-top: 9px;
  width: auto;
  height: 30px;
}

.line-box {
  display: flex;
}

.sign-up-links-container {
  display: flex;
  aborder: 2px solid red;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 10px;
}

.terms {
  color: white;
  text-align: center;
  font-size: 10px;
  margin-top: 14px;
  margin-left: 120px;
  display: inline-block;
}

.btn {
    background: #ff006b;
    border-radius: 12px;
    width: 432px;
    height: 50px;
    border: 0px;
    box-shadow: 0px 0px 15px 0px rgba(255, 0, 107, 1);
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  .right-line {
    margin-top: 30px;
    border-style: solid;
    border-color: #505050;
    border-width: 3px 0 0 0;
    width: 190px;
  }

  .or {
    color: #505050;
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
    margin-top: 20px;
    margin-left: 16px;
  }

  .left-line {
    margin-top: 30px;
    border-style: solid;
    border-color: #505050;
    border-width: 3px 0 0 0;
    width: 190px;
    margin-left: 20px;
  }

  .links-btn {
    display: flex;
  }

  .google-btn {
    height: 42px;
    margin-top: 10px;
    width: 200px;
    border-radius: 12px;
    color: #FF006B;
    font-size: 17px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #FF006B;
    cursor: pointer;
  }

  .google-icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 16px;
    width: auto;
    height: 30px;
  }

  .facebook-btn {
    height: 42px;
    margin-top: 10px;
    width: 200px;
    border-radius: 12px;
    color: #FF006B;
    font-size: 17px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #FF006B;
    margin-left: 30px;
    cursor: pointer;
  }

  .facebook-icon {
    position: absolute;
    margin-left: 35px;
    margin-top: 16px;
    width: auto;
    height: 30px;
  }